$primary-color: rgb(237, 109, 38);
$primary-color-outline: #f15a22;

$text-caption: rgb(148,148,148);


$input-color:$text-caption;

$size-large: 1.75rem;
$size-medium: 1.5rem;
$size-small: 1.25rem;

$disabled-color: grey;