@import "../../sass/vars";

.Button {
  border: solid 1px;
  padding: 1.075em 4em;
  border-radius: 0.5em;
  line-height: 100%;
  background-color: transparent;
  border-color: currentColor;

  &:disabled {
    opacity: 0.7;
    &:hover {
      cursor: default;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border-color: white;
    outline: solid 4px $primary-color-outline;
  }

  &-text {
    &-primary {
      color: $primary-color;
      border-color: transparent;
    }
  }

  &-outline {
    &-primary {
      color: $primary-color;
    }
  }

  &-filled {
    &-primary {
      color: white;
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }

  &-large {
    font-size: $size-large;
  }

  &-medium {
    font-size: $size-medium;
  }

  &-small {
    font-size: $size-small;
  }
}
