.Button {
  border: solid 1px;
  padding: 1.075em 4em;
  border-radius: 0.5em;
  line-height: 100%;
  background-color: transparent;
  border-color: currentColor;
}
.Button:disabled {
  opacity: 0.7;
}
.Button:disabled:hover {
  cursor: default;
}
.Button:hover {
  cursor: pointer;
}
.Button:focus {
  border-color: white;
  outline: solid 4px #f15a22;
}
.Button-text-primary {
  color: rgb(237, 109, 38);
  border-color: transparent;
}
.Button-outline-primary {
  color: rgb(237, 109, 38);
}
.Button-filled-primary {
  color: white;
  background-color: rgb(237, 109, 38);
  border-color: rgb(237, 109, 38);
}
.Button-large {
  font-size: 1.75rem;
}
.Button-medium {
  font-size: 1.5rem;
}
.Button-small {
  font-size: 1.25rem;
}

/*# sourceMappingURL=Button.module.css.map */
