@import "../../../sass/vars";

.TextInput {
  display: inline-flex;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 1.4em;
  border-radius: 0.5em;
  position: relative;
  align-items: center;
  border: solid 1px;
  border-color: $primary-color;
  color: $input-color;
  line-height: 100%;

  input::placeholder {
    color: adjust-color($input-color, $lightness: 10%);
  }

  &:focus-within {
    outline: solid 2px $primary-color-outline;
  }

  &-startComponent {
    display: inline-flex;
  }

  &-endComponent {
    display: inline-flex;
  }

  &-endComponent {
    transform: translateX(25%);
  }

  input {
    font: inherit;
    color: currentColor;
    width: 100%;
    background: none;
    border: none;
    outline: none;
  }

  &-large {
    font-size: $size-large;
  }

  &-medium {
    font-size: $size-medium;
  }

  &-small {
    font-size: $size-small;
  }
}
