.Paper {
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  &-elevation-0 {
    box-shadow: none;
  }
  &-elevation-1 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  }
}
