.DialogIcon {
  position: absolute;
  left: 50%;
  top: 0;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -5rem);
  z-index: 1000;
  font-size: 9.5rem;
  line-height: 100%;
  margin-bottom: 3rem;
}
