.Dialog {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &-closed {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &-medium {
    width: 52.5rem;
  }
  &-large {
    .Paper{
      padding: 5.625rem;
    }
  }
}
