@import "../../sass/vars";

.DialogTitle {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: .5em;
  &-subtitle {
    font-size: 2rem;
    text-align: center;
    color: $text-caption;
    margin-bottom: 1em;
  }
  &-with-icon {
    margin-top: 5.25rem;
  }
}
