.IconButton {
  border: solid 1px;
  border-radius: 50%;
  color: inherit;
  padding: 0;
  width: 1.25em;
  height: 1.25em;
  position: relative;
  background-color: transparent;
}
.IconButton:hover {
  cursor: pointer;
}
.IconButton:focus {
  border-color: white;
  outline: solid 4px #f15a22;
}
.IconButton svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: currentColor;
  width: 1em;
}
.IconButton-text-primary {
  color: rgb(237, 109, 38);
}
.IconButton-text-default {
  background-color: transparent;
  border-color: transparent;
}
.IconButton-outline-primary {
  color: rgb(237, 109, 38);
}
.IconButton-filled-primary {
  color: rgb(237, 109, 38);
  background-color: currentColor;
  border-color: currentColor;
}
.IconButton-filled-primary svg {
  fill: white;
}
.IconButton-large {
  font-size: 1.75rem;
}
.IconButton-medium {
  font-size: 1.5rem;
}
.IconButton-small {
  font-size: 1.25rem;
}

/*# sourceMappingURL=IconButton.module.css.map */
