@import "../../sass/vars";

.IconButton {
  border: solid 1px;
  border-radius: 50%;
  color: inherit;
  padding: 0;
  width: 1.25em;
  height: 1.25em;
  position: relative;
  background-color: transparent;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    border-color: white;
    outline: solid 4px $primary-color-outline;
  }

  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: currentColor;
    width: 1em;
  }

  &-text {
    &-primary {
      color: $primary-color;
    }

    &-default {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &-outline {
    &-primary {
      color: $primary-color;
    }
  }

  &-filled {
    &-primary {
      color: $primary-color;
      background-color: currentColor;
      border-color: currentColor;
      svg {
        fill: white;
      }
    }
  }

  &-large {
    font-size: $size-large;
  }

  &-medium {
    font-size: $size-medium;
  }

  &-small {
    font-size: $size-small;
  }
}
